body{
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: left bottom;
	background-size:cover;
}
#wrap {
	width: 1000px;
	margin:60px auto;
	padding:40px;
}	
@font-face{
	font-family:headerfont;
    src: url("QuinchoScript.ttf");
}
h1{
    	text-align:center;
    	font-family: Consolas;
    	font-size:60px;
		letter-spacing: 2px;

}
#image1{
	display: block;
	border:5px solid black;
}
#wholemainhome{
	position: absolute;
    top: 0;
    height: 280px;
	width:1000px;
 }
#wholemainhome ul {
   	list-style-type: none;
   	margin: 0;
   	padding: 0;
   	width: 1000px;
	overflow: hidden;
	background-color:black;
	color:white;
	border-radius:10px;
}
#wholemainhome li {float:left;}
#wholemainhome li a {
    display: block;
	font-weight: bold;
	font-size: 29px;
    padding: 10px 50px;
    text-decoration: none;
	color:white;
	}
#wholemainhome li a:hover {
	background-color:white;
	border-radius:10px;
    text-align: center;
	color:black;
}
#purpose{
	text-align:center;
	width:700px;
	margin:20px auto;
	letter-spacing: 2px;
	line-height:25px;
	border:5px solid black;
	background-color:white;
}
/* Main */
#poem p{
	line-height:35px;
	font-size:20px;
	width:500px;
	margin:30px auto;
	text-align:center;
	color:black;
	font-size:25px;
	background-color:white;
	border:5px solid black;
	opacity:0.6;
}
#members{
    margin:auto;
    width:900px;
	text-align:center;
}
#members img {
	width: 300px;
	border:10px solid #2C0002;
	padding:8px;
}
#members div {
	color:white;
	font-size:20px;
	background-color:black;
	width:300px;
	margin:auto;
}
/* gallery */
#wrap1{
	width: 1000px;
	margin:60px auto;
	padding:40px;
}
#gallery {
	width:1000px;
	margin:auto;
	list-style-type: none;
}
#gallery li{
	width:300px;
	margin:5px;
	display:block;
	float:left;
	border:5px solid black;
	border-radius:3px;
	background-color:white;
	overflow: hidden;
}
#gallery li a{
	text-decoration:none;
	color:white;
}
#gallery li a img{
	transform: scale(1);
	transition: .3s ease-in-out;	
	height:300px;
	width:300px;
}
#gallery li a img:hover{
	filter: grayscale(0);
	transform: scale(1.5);
	}
img{
    height:100%;
    width: 100%;
}
#footer{
	width:700px;
	text-align:center;
	margin:auto;
	border:5px solid ;
	padding:50px 90px;
	border-radius:5px;
	background-color:white;
	line-height:30px;
	font-weight:bold;
}